name: Release Drafter

on:
  push:
    branches: [main, master]
  pull_request:
    types: [opened, edited, reopened, labeled, unlabeled, closed]
  workflow_dispatch: {}

permissions:
  contents: write
  pull-requests: write

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v6
